@charset "UTF-8";

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    min-height: 100vh;
}

/*Navbar */
.navbar {
    width: 100%;
    background: #2c3e50;
    padding: 12px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .logo {
    font-size: 18px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #4facfe;
}

/* Container */
.container {
    padding: 40px;
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    color: #fff;
}

/* Cards Layout */
.card-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

/* Card Design */
.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 180px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* Card Text */
.card h3 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
}